
#----------------------------------------------------------#
               REQUIREMENTS FOR MY APP
#----------------------------------------------------------#


streamlit
scikit-learn
PyPDF2
